
/**

            Quelques exemples de font-familly

**/

#Georgia{
       font-family: Georgia;
}
#Arial{
    font-family: Arial;
}
#Helvetica{
    font-family:  Helvetica;
}
#sans-serif{
    font-family:  sans-serif;
}
#Impact{
    font-family:  Impact;
}
#Arial-Narrow-Bold{
    font-family: 'Arial Narrow Bold';
}

#Trebuchet-MS{
    font-family: 'Trebuchet MS';
}
#Lucida-Sans-Unicode{
    font-family: 'Lucida Sans Unicode';
}



/**

           font-size

**/

#font-size{
      font-size: 12px;

}

#font-stretch{
    font-stretch: ultra-expanded;
}

#font-size-adjust{
    font-size-adjust: 0.80;
}


/**

           font-style

**/

#italic{      
     font-style: italic;
}

#normal{
      font-style: normal;
}

#oblique{
      font-style: oblique;
}

/**

           text propertie 

**/

#text-color{

    color: olive;
}

#text-align{

    text-align: center;
}

#text-indent{
    text-indent: 20%;
}
#letter-spacing{
    letter-spacing: 5px;
}
#word-spacing{

    word-spacing: 50px;
}

#text-decoration-overline{

     text-decoration: overline;

}

#text-decoration-line-through{

      
  text-decoration: line-through;
}

#text-decoration-underline{ 

     text-decoration: underline;
}


#text-transform-uppercase{

     text-transform: uppercase;
}

#text-transform-lowercase{

    text-transform: lowercase;
}

#text-transform-capitalize{
  
    text-transform: capitalize;

}

#text-direction{
    direction: rtl;
}

#text-shadow{
    text-shadow: 2px 2px 8px orange;
}

#white-space{
    white-space: pre;
}


/** 

      height and width
**/


#widht-height{

    width: 200px;
    height: 300px;
    background-color: gold;
}



/**

   background 

**/ 



#background-color{

    background-color: silver;
    
}

#background-image{
     width: 1000px;
     height: 200px;
     background-image: url('../images/133.gif');
    background-repeat: no-repeat;
}





















